.gitignore


.gradle/
build/

# IntelliJ IDEA
.idea/
*.iml
out/

# VS Code (just in case)
.vscode/

# MacOS noise
.DS_Store

# Logs
*.log

# Spring Boot
target/

# =========================
# Sensitive Files
# =========================
.env

# Local configuration
*.local
